<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Elementy z bazy danych</title>
</head>
<body>

    <h2>Lista tabeli w bazie:</h2>
    <ul>
        {% for table in tables %}
            <li><a href="{{ url_for(table[0]) }}">{{ table[1] }}</a></li>
        {% endfor %}
    </ul>

    <br>

    <h2>Lista widoków:</h2>
    <ul>
        {% for view in views %}
            <li><a href="{{ url_for(view[0]) }}">{{ view[1] }}</a></li>
        {% endfor %}
    </ul>
    
    <br>

    <h2>Lista funkcji:</h2>
    <ul>
        {% for func in functions %}
            <li><a href="{{ url_for(func[0], client_id=default_client_id) }}">{{ func[1] }}</a></li>
        {% endfor %}
    </ul>
    
    <h2>Client Management</h2>
    <ul>
        <li><a href="{{ url_for('procedures.add_client_form') }}">Add Client</a></li>
        <li><a href="{{ url_for('procedures.delete_client_form') }}">Delete Client</a></li>
        <li><a href="{{ url_for('procedures.update_client_form') }}">Update Client</a></li>
        <li><a href="{{ url_for('tables.get_Clients') }}">List Clients</a></li>
    </ul>
    

</body>
</html>
